.container h2{
    color: rgb(214, 4, 4);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

#galeria ul{
    display: grid;
    grid-template-columns: repeat(2,4fr);
    gap: 20px;

}

#galeria .container img{
    border-radius: 20px;
    
}

#galeria ul li{
    list-style: none;

}

#galeria ul li img{
    display: block;
    width: 100%;
    transition: all 0.3s linear;
    
}

#galeria ul li img:hover{
    transform: scale(0.9);
}