#banners img{
    background-color: var(--cor-1);
    border-radius: 0px;
    border-color: none;
}

.container p{
    max-width: 1200px;
    color: var(--cor-3);
    text-align: justify;
    margin-top: 30px;
    font-size: 13pt;

}

.container .imagenstex{
    border-radius: 25px;
    float: right;
    max-height: 350px;
    margin: 0px 0px 30px 30px;
    border: solid var(--cor-1);
}

.container .texto1 img{
    float: left;
    max-height: 350px;
    border: solid var(--cor-1);
    border-radius: 25px;
    margin: 20px 20px 20px 0 ;
}

.container .texto2 img{
    float: right;
    max-height: 350px;
    border-radius: 25px;
    margin: 20px 0px 0px 20px;
}