.container .lista1{
    margin: 30px 30px 0 0;
    display: flex;
    justify-content: center;
    max-width: 1200;
}

.container ul{
    color: var(--cor-3);
}

.minimo{
    margin-right: 50px;
}

.container #logo_windows{
    border: none;
    position: relative;
    left: 20px;
    top: 20px;
}

.container #logo_mac{
    border: none;
    position: relative;
    left: 20px;
    top: 10px;
}


.container #logo_linux{
    border: none;
    position: relative;
    left: 20px;
    top: 15px;
}

.container h2{
    color: rgb(214, 4, 4);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}